<!DOCTYPE html>
<html>

<head>
  <title>Econoamigos</title>
  <link rel="stylesheet" type="text/css" href="css/stylef.css">
  <link rel="icon" type="image/png" href="img/icono.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <header>
    <nav>
      <div class="logo">
        <img src="img/icono.png" alt="" align="left">
        <h1> Econoamigos</h1>

      </div>
      <div class="icono" id="icono">
        <span> <img src="img/hamburguesa.svg" alt=""></span>
      </div>
      <div class="enlaces uno" id="enlaces">
        <a href="menu.html" class="active">Menú Principal</a>
        <a href="tareas.html">Tareas Adquiridas</a>
        <a href="busqueda.html">Buscador de Servicios</a>
        <a href="oferta.html">Ofrecer Productos</a>
        <a href="solicitudes.html">Solicitudes de mis servicios</a>
        <a href="finanzas.html">Página Financiera</a>
        <a href="Servicios.html">Historial de Servicios</a>
        <a href="conf.html">Configuración de la cuenta</a>
        <a href="index.html">Cerrar Sesión</a>
      </div>
    </nav>
  </header>
  <main>

    <section class="contenedor">
      <h2 id="Servicios" class="titulos">BIENVENIDO</h2>
      <div class="Servicios">
        <img src="img/dinero.svg" alt="" class="Servicio">
        <div class="Textos">
         <br><h2><center><p>Historial de Transacciones</p></center> </h2>
          <br>
          <table border="1">
            <tr>
              <th>Concepto </th>
              <th>Precio</th>
            </tr>
            <tr>
              <td data-lable="Concepto">a</td>
              <td data-lable="Precio"></td>
            </tr>
            <tr>
              <td data-lable="Concepto">a</td>
              <td data-lable="Precio"></td>
            </tr>
          </table>
          <button id="Visualizar" type="button" class="btn">Consultar</button>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="main-content">

      <div class="left box">
        <h2> Sobre nosotros </h2>
        <div class="content">
          <p> Somos una compañía dedicada al apoyo de personas, especialmente, cabezas de hogar, fomentando una
            economía solidaria en la que se puede ofrecer y obtener servicios a cambio de Ecomonedas, nuestra moneda
            virtual. </p>
          <div class="social">
            <a href="https://github.com/SierraJuanSe/econoamigos"><span class="fab fa-github"></span></a>
          </div>
        </div>
      </div>

      <div class="center box">
        <h2> Contáctanos</h2>
        <div class="content">
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">janis.salazar01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">jessica.parrado01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">lady.salazar01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">valeria.carvajal01@correo.usa.edu.co</span>
          </div>
        </div>
      </div>

      <div class="right box">
        <h2> Contáctanos</h2>
        <div class="content">
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">juan.sierra01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">luis.vejarano01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">luis.velasquez01@correo.usa.edu.co</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">michael.pinilla01@correo.usa.edu.co</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <center>
        <span class="credit">
          Creado por <a href="#">Carvajal - Parrado - Pinilla - Salazar B - Salazar S - Sierra - Vejarano - Velasquez
            |</a>
        </span>
        <span class="far fa-copyright"></span><span> 2021 Todos los Derechos Reservados. </span>
      </center>
    </div>
  </footer>

  <script src="js/main.js" type="text/javascript"></Script>
  <script src="js/funciones.js" type="text/javascript"></Script>
  <script src="js/animaciones.js" type="text/javascript"></Script>
</body>

</html>