<!DOCTYPE html>
<html>

<head>
    <title>Econoamigos</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/png" href="img/icono.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="fondo" src="img/fondo.png">
    <div class="container">

        <div class="img">
            <img src="img/celular.svg">
        </div>
        <!-- Formulario de Inicio de Sesión -->
        <div class="login">
            <form action="index.html">
                <img src="img/logo.png">
                <h2 class="title">Bienvenido</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>Correo Electrónico</h5>
                        <input type="email" class="input" id="correoL">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input type="password" class="input" id="passL">
                    </div>
                </div>
                <a href="registro.html" id="Entrar">¿No tienes una cuenta? Registrate</a>
                <button id="Ingresar" type="button" class="btn">Ingresar </button>
            </form>
        </div>



    </div>
    <script src="js/animaciones.js" type="text/javascript"></Script>
    <script src="js/funciones.js" type="text/javascript"></Script>
    <script src="js/peticiones.js" type="text/javascript"></Script>
</body>

</html>