<!DOCTYPE html>
<html>

<head>
    <title>Econoamigos</title>
    <link rel="stylesheet" type="text/css" href="css/stylePublicitarOferta.css">
    <link rel="icon" type="image/png" href="img/icono.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />




    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="img/icono.png" alt="" align="left">
                <h1> Econoamigos</h1>

            </div>
            <div class="saldo">
                Tu saldo: $ <span id="saldoUser"></span>
            </div>
            <div class="icono" id="icono">
                <span> <img src="img/hamburguesa.svg" alt=""></span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="menu.html" class="active">Menú Principal</a>
                <a href="tareas.html">Ofertas Compradas</a>
                <a href="busqueda.html">Buscador de Ofertas</a>
                <a href="oferta.html">Publicitar tus Ofertas</a>
                <a href="solicitudes.html">Solicitudes de mis ofertas</a>
                <a href="finanzas.html">Historial de Transacciones</a>
                <a href="Servicios.html">Historial de Ofertas</a>
                <a href="conf.html">Configuración de la cuenta</a>
                <a href="index.html">Cerrar Sesión</a>
            </div>
        </nav>
    </header>
    <main>

        <!-- CONTENIDO-->

        <!-- Servicios -->
        <!--<h1> Bienvenida {{usuario.nombre}} {{usuario.apellido}}</h1>-->
        <section class="contenedor">
            <h2 id="Servicios" class="titulos">Publicitar tus Ofertas</h2>
            <p class="lead text-muted">Podrás ingresar los servicios o productos que deseas ofrecer en nuestra plataforma detallando características esenciales para llamar la atención de posibles compradores. </p>
            <div id="recuadroFormula" class="Servicios">
                <img src="img/publicacionOferta.svg" alt="" class="Servicio">
                <section class="form-register">
                    <form class="mt-6 ">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="ContactarButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccione
                          </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="ButtonServicios" href="#">Servicios</a>
                                <a class="dropdown-item" id="ButtonProductos" href="#">Productos</a>
                            </div>
                        </div>
                        <p class="lead text-muted" id="TextoServicio">Ingresa las especificaciones del servicio</p>
                        <p class="lead text-muted" id="TextoProducto">Ingresa las especificaciones del producto</p>
                        <div class="form-group ">
                            <input type="text " class="control " id="nameC " placeholder="Nombre ">
                        </div>
                        <div class="form-group ">
                            <textarea class="control " id="descripcion " placeholder="Descripción " rows="5 "></textarea>
                        </div>
                        <div class="form-group ">
                            <input type="text" class="control " id="precio" placeholder="Precio">
                        </div>
                        <div class="form-group ">
                            <input type="text " class="control " id="Direccion" placeholder="Lugar de servio / Zona de cobertura">
                        </div>
                        <div class="form-group ">
                            <input type="text " class="control " id="stock" placeholder="Cantidad de productos">
                        </div>
                        <div id="div-file">
                            <p id="texto-file">Anadir Archivo</p>
                            <input type="file" id="btn-file">
                        </div>
                        <button id="Contactar " type="button " class="btn ">Enviar mensaje</button>
                    </form>
                </section>
            </div>
        </section>

    </main>

    <!-- Pie de página-->
    <footer>
        <div class="main-content ">

            <div class="left box ">
                <h2> Sobre nosotros </h2>
                <div class="content ">
                    <p> Somos una compañía dedicada al apoyo de personas, especialmente, cabezas de hogar, fomentando una economía solidaria en la que se puede ofrecer y obtener servicios o productos a cambio de Ecomonedas, nuestra moneda virtual. </p>
                    <div class="social ">
                        <a href="https://github.com/SierraJuanSe/econoamigos "><span class="fab fa-github "></span></a>
                    </div>
                </div>
            </div>

            <div class="center box ">
                <h2> Contáctanos</h2>
                <div class="content ">
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">janis.salazar01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">jessica.parrado01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">lady.salazar01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">valeria.carvajal01@correo.usa.edu.co</span>
                    </div>
                </div>
            </div>

            <div class="right box ">
                <h2> Contáctanos</h2>
                <div class="content ">
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">juan.sierra01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">luis.vejarano01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">luis.velasquez01@correo.usa.edu.co</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">michael.pinilla01@correo.usa.edu.co</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <center>
                <span class="credit ">
                    Creado por <a href="# ">Carvajal - Parrado - Pinilla - Salazar B - Salazar S - Sierra - Vejarano - Velasquez |</a>
                </span>
                <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span>
            </center>
        </div>
    </footer>

    <script src="js/publicitarOferta.js " type="text/javascript "></Script>
</body>

</html>