<!DOCTYPE html>
<html>

<head>
    <title>Econoamigos</title>
    <link rel="stylesheet" type="text/css" href="css/stylenew.css">
    <link rel="icon" type="image/png" href="img/icono.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="img/icono.png" alt="" align="left">
                <h1> Econoamigos</h1>
            </div>
            
            
    </header>
    <main>


        <div id="Alertas" aria-live="polite" aria-atomic="true" style="position: fixed; min-height: 200px; ">
            <!-- Position it -->
            <div style="position: fixed; top: 0; left: -50%;">

            </div>
        </div>
        <!-- CONTENIDO-->

        <!-- TARJETAS DE SERVICIOS-->
        <section class="contenedors">
            <h2 id="Servicios" class="titulos">Términos y condiciones de uso</h2>
            <p class="lead text-muted">
            <p><strong>POLÍTICA DE PRIVACIDAD</strong></p>
            <p>El presente Política de Privacidad establece los términos en que Econoamigos usa y protege la
                información que
                es
                proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida
                con la
                seguridad
                de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la
                cual usted
                pueda
                ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este
                documento.
                Sin
                embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada, en caso tal,
                usted será
                notificado y podrá aceptar o rechazar los cambios realizados.</p>
            <p><strong>Información que es recogida</strong></p>
            <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, cédula y fecha de
                nacimiento,
                información
                de contacto como su teléfono, su correo electrónico e información demográfica. Así mismo cuando sea
                necesario
                podrá
                ser requerida información específica para procesar algún pedido o realizar una entrega o
                facturación.</p>
            <p><strong>Uso de la información recogida</strong></p>
            <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
                particularmente
                para
                mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y
                servicios.
                &nbsp;Es
                posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas
                especiales,
                nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda
                brindarle
                algún
                beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán
                ser
                cancelados en
                cualquier momento.</p>
            <p>Econoamigos está altamente comprometido para cumplir con el compromiso de mantener su información
                segura.
                Usamos
                los
                sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún
                acceso no
                autorizado.
            </p>
            <p><strong>Cookies</strong></p>
            <p>Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
                almacenarse en
                su
                ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información
                respecto al
                tráfico
                web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las
                cookies es que
                con
                ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio
                personalizado de su
                web.
            </p>
            <p>Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su
                frecuencia.
                Esta
                información es empleada únicamente para análisis estadístico y después la información se elimina de
                forma
                permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo
                las
                cookies
                ayudan
                a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su
                ordenador ni de
                usted, a
                menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso
                de
                cookies,
                sin
                embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor
                servicio
                web.
                También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se
                declinan es
                posible
                que no pueda utilizar algunos de nuestros servicios.</p>
            <p><strong>Enlaces a Terceros</strong></p>
            <p>Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que
                usted de
                clic
                en
                estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y
                por lo
                tanto no
                somos responsables de los términos de privacidad</a> ni de la protección de sus datos en esos otros
                sitios
                terceros.
                Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que
                los
                consulte
                para
                confirmar que usted está de acuerdo con estas.</p>
            <p><strong>Control de su información personal</strong></p>
            <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su
                consentimiento,
                salvo que sea requerido por un juez con un orden judicial.</p>
            <p>Econoamigos Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
                cualquier
                momento.
            </p>
            <p>Esta politica de privacidad se ha basado en <a href="https://politicadeprivacidadplantilla.com/"
                    target="_blank">politicadeprivacidadplantilla.com</a>.<br></p>
            </p>
            <A id="BotonVolver" type="button"  class="btn" onClick="history.go(-1);">Regresar</a>
            </div>

        </section>
    </main>

    <script src="js/main.js " type="text/javascript "></Script>
    <script src="js/peticiones.js " type="text/javascript "></Script>
    <script src="js/funciones.js " type="text/javascript "></Script>
    <script src="js/animaciones.js" type="text/javascript"></Script>
</body>

</html>