<!DOCTYPE html>
<html>

<head>
    <title> Registrate | Econoamigos</title>
    <link rel="stylesheet" type="text/css" href="css/styleReg.css">
    <link rel="icon" type="image/png" href="img/icono.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <img class="fondo" src="img/fondo.png">
    <img class="fondo2" src="img/fondo.png">
    <div class="container">


        <!-- Formulario de Registro -->
        <div class="login">
            <form>
                <div class="img2">
                    <img src="img/icono.png"> </div>
                <h2 class="title">Sé un Econoamigo</h2>


                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-id-card"></i>
                    </div>
                    <div class="div">
                        <h5>Cédula de Ciudadanía</h5>
                        <input type="text" class="input" id="idR">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Nombre</h5>
                        <input type="text" class="input" id="nombreR">
                    </div>
                </div>

                <div class="col">
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Apellido</h5>
                            <input type="text" class="input" id="apellidoR">
                        </div>
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>Correo Electrónico</h5>
                        <input type="email" class="input" id="correoR">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="div">
                        <h5>Teléfono</h5>
                        <input type="text" class="input" id="telefonoR">
                    </div>
                </div>
                <h5> Fecha de Nacimiento</h5>
                <div class="input-div one">

                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="date" class="input" id="fechaR" max="2003-12-31">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="div">
                        <h5>Dirección</h5>
                        <input type="text" class="input" id="direccionR">
                    </div>
                </div>
                <h5> Barrio de Residencia</h5>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-map-marker"></i>
                    </div>
                    <div class="div">
                        <select class="input" id="barrios">
                            <option selected class="input">Selecciona tu barrio </option>
                          </select>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input type="password" class="input" id="passR">
                    </div>
                </div>

                <a href="index.html" id="Devolver">¿Ya tienes una cuenta? Inicia Sesión</a>
                <button id="Registrar" type="button" class="btn">Regístrate </button>
            </form>
        </div>
        <div class="img">
            <img src="img/signinfo.svg">
        </div>

    </div>
    <script src="js/peticiones.js" type="text/javascript"></Script>
    <script src="js/animaciones.js" type="text/javascript"></Script>
    <script src="js/funciones.js" type="text/javascript"></Script>

</body>

</html>